.step-content__container {
  height: 40vh;
  padding: 16px;
  position: relative;
  overflow: hidden;
  &--spinner {
    position: absolute;
    overflow: hidden;
    height: 40vh;
    padding: 16px 0;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    h3 {
      color: #fff;
      margin: 5px;
    }
  }
}

.MuiDialog-paperWidthSm {
  width: 80vw;
}

.MuiPaper-root.MuiStepper-root.MuiStepper-horizontal.MuiStepper-alternativeLabel.MuiPaper-elevation0 {
  padding: 24px 16px 16px 16px;
}
