.postcard-creator-buttons__container {
  display: flex;
  padding: 0 10px 10px 10px;
  justify-content: space-between;
}

.MuiTypography-root.MuiStepLabel-label.MuiStepLabel-alternativeLabel.MuiTypography-body2.MuiTypography-displayBlock {
  margin-top: 10px;
}
