.file-input__ {
  &container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    input {
      display: none;
    }
  }
  &title {
    margin: 7px;
  }
  &info {
    font-size: 0.9rem;
    margin: 5px;
  }
  &error {
    text-align: center;
    font-size: 0.9rem;
    margin: 5px;
    color: #db4437;
  }
}
